@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  margin: 0 0 16px;
  font-size: 28px;
}

input {
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: 300px;
  border: none;
  border-radius: 4px;
  background: #f9f9ff
    url('data:image/svg+xml;utf8,<svg fill="rgba(0, 0, 0, 0.5)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="20"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>')
    no-repeat left 0.5rem center;
  background-size: 24px;
  margin-right: 1rem;
  margin-top: 12px;

  &:focus {
    outline: 2px solid #4d98ff;
  }
}

label {
  display: block;
  margin-right: 1rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  max-width: 1700px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
}

.search-container {
  display: flex;
}

.form-group {
  margin-right: 1rem;
}

select {
  padding: 0.5rem;
  border: 1px solid #c7c7c7;
  margin-top: 12px;
  border-radius: 10px;

  &:focus {
    outline: 2px solid #4d98ff;
  }
}

.botondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

#btnSearch {
  padding: 0.8rem 2.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 520;

  &:hover {
    background-color: #0056b3;
  }
}


#btnExport {
  padding: 0.8rem 2.2rem;
  background-color: #38B686;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 520;

  &:hover {
    background-color: #31a076;
  }
}


/* Estilos de la tabla */
.table-container {
  overflow-x: auto; /* Habilitar desplazamiento horizontal */
  background-color: #f9f9ff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  max-width: 1700px;
}

.table-wrapper {
  overflow-x: auto; /* Desplazamiento horizontal */
  overflow-y: auto; /* Desplazamiento vertical */
  max-height: 900px; /* Altura máxima para el desplazamiento vertical */
}

.styled-table {
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 20px 0;
  width: 100%; /* Ajustar el ancho al 100% del contenedor */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  table-layout: auto;
  min-width: 800px; /* Ancho mínimo de la tabla */
}

.styled-table thead tr {
  background-color: #1C4692;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
  width: auto; /* Opcional: ajusta el ancho de las celdas automáticamente */
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #004298;
}

.styled-table tbody tr:hover {
  background-color: #e7f4ff;
}

/* Estilos para botones */
.edit-button {
  background-color: #2481FF;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  margin-right: 0.5rem;

  &:hover {
    background-color: #4565a0;
  }
}

.delete-button {
  background-color: #f44336;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;

  &:hover {
    background-color: #a12a21;
  }
}

/* Scrollbar personalizado */
.table-container::-webkit-scrollbar {
  height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #1c4692;
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #4d98ff;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
