<nav class="navbar">
  <h1>Base de Datos</h1>
  <div class="search-container">
    <div class="form-group">
      <label for="search-input">¿Qué estás buscando?</label>
      <input id="search-input" type="text" placeholder="Pacientes, cuidadores, estado, hombres, mujeres, etc." />
    </div>
    <div class="form-group">
      <label for="category-select">Categoría:</label>
      <select id="category-select">
        <option value="pacientes">Pacientes</option>
        <option value="cuidadores">Cuidadores</option>
      </select>
    </div>
    <div class="form-group">
      <label for="status-select">Estatus:</label>
      <select id="status-select">
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select>
    </div>
    <div class="botondiv">
      <button (click)="search()">Buscar</button>
    </div>
  </div>
</nav>
