<div class="header">
  <h1>Panel de control</h1>
  <div class="linea-separadora"></div>
  <h5>Inicio</h5>
</div>

<div class="container">
  <div class="totalStatistics">
    <div class="info-card">
      <i class="bx bxs-heart-circle"></i>
      <span>{{ totalPacientes }}</span>
      <p>Pacientes Registrados</p>
    </div>
    <div class="info-card">
      <i class="bx bx-group"></i>
      <span>{{ totalCuidadores }}</span>
      <p>Cuidadores Registrados</p>
    </div>
    <div class="info-card">
      <i class="bx bxs-calendar-heart"></i>
      <span>{{ totalSuplencias }}</span>
      <p>Total de Suplencias Registradas</p>
    </div>
    <div class="info-card">
      <i class="bx bx-child"></i>
      <span>{{ totalPacientesMenores }}</span>
      <p>Total de Pacientes Menores de Edad</p>
    </div>
    <div class="info-card">
      <i class="bx bxs-user"></i>
      <span>{{ totalPacientesMayores }}</span>
      <p>Total de Pacientes Mayores de Edad</p>
    </div>
    <div class="info-card">
      <i class="bx bx-plus-medical"></i>
      <span>{{ totalCECPAM }}</span>
      <p>Total de programas por CECPAM</p>
    </div>
  </div>

  <div class="time">
    <div class="info-card-time">
      <i class="bx bx-time-five"></i>
      <span>{{ LocalDate }}</span>
      <p>Fecha y hora de hoy</p>
    </div>
  </div>
</div>
