<div class="container">
    <div class="search-paciente">


        <div class="title1-container">
            <h1>Buscar Paciente</h1>
        </div>


        <i class='bx bx-search'></i>
        <input type="search" name="txtSearchPaciente" id="txtSearchPaciente" placeholder="Buscar paciente">
        <i class='bx bx-x'></i>
        <div class="coincidencias-container">
            <label for=""></label>
        </div>

        <div class="paciente-seatch-card">
            <i class='bx bxs-user-pin' ></i>
            <h3>Jose Maria Martinez</h3>
            <p>Ultima modificacion fue el: 27/02/2024</p>
        </div>
    </div>

    <div class="ficha-paciente">

        <div class="tile2-container">
            <h1>Ficha del paciente</h1>
        </div>

        <i class='bx bxs-user-pin' ></i>
        <div class="expediente-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="fecha-ingreso">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="nombre-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="apellidoPat-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="apellidoMat-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="domicilio-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="colonia-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="alcaldia-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="entidadFederativa-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="sexo-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="edad-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="nacionalidad-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="telefono-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>
        <div class="tipo-programa-container">
            <label for="">Expediente</label>
            <input type="text" name="" id="">
        </div>


    </div>  
</div>


