@import 'boxicons/css/boxicons.min.css';


// .mainTitle{
// }

.container {
  display: flex;
  flex-direction: row; /* Cambiar a row para alinear horizontalmente */
  justify-content: space-around; /* Opcional: ajustar el espacio entre los contenedores */


  .search-paciente-container {
    background-color: #2481FF;
    border-radius: 10px;
    padding: 20px;
    width: 25%; /* Ancho de los contenedores */
    margin: 10px; /* Espacio entre los contenedores */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

    .search-paciente-container2 {
      display: flex;
      align-items: center;

      .bx-search {
        position: absolute;
        font-size: 24px;
        margin-left: 10px;
        color: #2481FF;
      }


      #txtSearchPaciente {
        flex: 1;
        padding: 10px 40px;
        border: 1px solid #2481FF;
        border-radius: 5px;
        background-color: #dfedff;
  
        &:focus {
          outline: none;
          border: 2px solid #2481FF;
          box-shadow: 0 0 10px rgba(36, 129, 255, 0.5);
        }
      }
    }





    .paciente-find-card {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &:hover {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        box-shadow: 0 0 10px rgb(208, 232, 255);
      }


      .bxs-user-pin {
        font-size: 60px;
        margin-right: 10px;
        color: #2481FF;
      }

      .paciente-find-name{
        display: inline;
        top: auto;
      }
  
      .lastUpdate {
        font-size: 12px;
        color: #999;
        margin-top: 5px;
      }
    }


  }

  .ficha-paciente {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;


    .bxs-user-pin {
      font-size: 104px;
      margin-right: 10px;
      color: #2481FF;
    }

    .container-data-paciente {
      display: flex;
      margin-bottom: 10px;

      label {
        width: 150px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-right: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-left: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    .container2-title1,
    .container2-title2 {
      background-color: #2481FF;
      color: #fff;
      font-size: 20px;
      padding: 10px;
      margin-top: 20px;
      border-radius: 5px;
    }
  }
}
