@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

  
  .navbar-top {
    background-color: #1C4692;
    color: #fff;
    font-family: neon, sans-serif;
    text-align: left;
    padding: 15px;
  }


  
  .navbar-brand {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    margin-left: 40px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1C4692, 0 0 40px #1C4692, 0 0 50px #1C4692, 0 0 60px #1C4692, 0 0 70px #1C4692;
  }
  

  
  .navbar-toggler {
    border: none;
    background: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .navbar-toggler:hover {
    color: #ccc;
  }


