<div class="wrapper">
  <h1 mat-dialog-title class="custom-dialog-title">Añade una nueva suplencia</h1>
  <div mat-dialog-content class="custom-dialog-content">
    <div class="icon-text-container">
      <i class='bx bxs-receipt'></i>
      <p>Datos de la Suplencia:</p>
    </div>
    
    <form action="">
      <p>Fecha y Hora:</p>
      <input type="date" name="" id="">
      <input type="time" name="" id="" >a
      <input type="time" name="" id="">
      <p>Costo:</p>
      <input type="text" name="" placeholder="Costo por guardia, ej $ 000" [(ngModel)]="costo" id="">
      <p for="">Particular:</p>
      <select name="" id="">
        <option value="">Si</option>
        <option value="">No</option>
      </select>
      <p for="">Cuidador al que se le asigna:</p>
      <select name="" id="">
        <option value="Cuidador1">Cuidador1</option>
        <option value="Cuidador2">Cuidador2</option>
        <option value="Cuidador3">Cuidador3</option>
        <option value="Cuidador4">Cuidador4</option>
    </select>
    </form>
  </div>

  <div mat-dialog-actions class="custom-dialog-actions">
    <button
      mat-button
      (click)="cancelar()"
      class="custom-dialog-button cancelar"
    >
      Cancelar Suplencia
    </button>
    <button
      mat-button
      (click)="confirmar()"
      class="custom-dialog-button actualizar"
    >
      Agregar Suplencia
    </button>
  </div>
</div>
