<div class="sidenav">
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <i class='bx bxs-home'></i>
      <a routerLink="inicio">Inicio</a>
    </li>
    <li class="sidenav-nav-item">
      <i class='bx bxs-user'></i>
      <a routerLink="new-paciente">Pacientes</a>
    </li>
    <li class="sidenav-nav-item">
      <i class='bx bxs-calendar'></i>
      <a routerLink="calendario-servicios">Calendario de Servicios</a>
    </li>
    <li class="sidenav-nav-item">
      <i class='bx bxs-file'></i>
      <a routerLink="expediente-electronico">Expediente Electronico</a>
    </li>
    <li class="sidenav-nav-item">
      <i class='bx bxs-data'></i>
      <a routerLink="base-datos">Base de Datos</a>
    </li>
    <li class="sidenav-nav-item">
      <i class='bx bxs-user-detail'></i>
      <a routerLink="evaluacion-cuidador">Evaluacion del Cuidador</a>
    </li>
    <li class="sidenav-nav-item">
      <i class='bx bx-exit'></i>
      <a routerLink="exit">Salir</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
