<button class="btnSuplencia" (click)="agregarSuplencia()">
  Agregar Suplencias
</button>

<div class="select-paciente" (click)="toggleSelect()">
  <div class="select-btn">
    <span class="sBtn-text">Seleccionar paciente</span>
    <i class="bx" [class.bx-chevron-down]="!selectAbierto" [class.bx-chevron-up]="selectAbierto"></i>
  </div>

  <ul class="options" *ngIf="selectAbierto">
    <li class="option" *ngFor="let paciente of pacientes" (click)="seleccionarPacienteCuidadorSuplencias(paciente)">
      <i class="bx bxs-user-badge"></i>
      <span class="option-namePaciente">
        {{ paciente.nombre_paciente }} {{ paciente.apellido_paterno }} {{ paciente.apellido_materno }}
      </span>
    </li>
  </ul>
</div>

<input id="txts" type="text" [(ngModel)]="searchTextPacientes" readonly placeholder="Nombre del paciente" />
<input id="txts" type="text" [(ngModel)]="searchTextCuidadores" readonly placeholder="Nombre del cuidador" />
<input id="txts-suplenciasT" type="text" readonly placeholder="Total de suplencias" />

<div class="calendar-container">
  <full-calendar [options]="options" [events]="events" class="custom-calendar"></full-calendar>
</div>
