<h1>Registrar a un nuevo cuidador</h1>
<div class="form-container">
  <form #cuidadoresForm="ngForm" >
    <div class="form-section">
      <h2>Informacion personal del cuidador</h2>
      <label for="txtNombre">Nombre:</label>
      <input
        type="text"
        name="nombre_paciente"
        id="txtNombre"
        placeholder="Ingrese el Nombre"

        required
      />

      <label for="txtApellidoPaterno">Apellido Paterno:</label>
      <input
        type="text"
        name="apellido_paterno"
        id="txtApellidoPaterno"
        placeholder="Ingrese el Apellido paterno"

        required
      />

      <label for="txtApellidoMaterno">Apellido Materno:</label>
      <input
        type="text"
        name="apellido_materno"
        id="txtApellidoMaterno"
        placeholder="Ingrese el Apellido materno"

        required
      />

      <label for="txtEdad">Edad:</label>
      <input
        type="text"
        name="edad_paciente"
        id="txtEdad"
        placeholder="Ingrese la edad"

        required
      />

      <label for="txtSexo">Sexo:</label>
      <select
        name="sexo_paciente"
        id="txtSexo"

        required
      >
        <option value="M">M</option>
        <option value="F">F</option>
      </select>
    </div>

    <div class="form-section">
      <h2>Acerca de</h2>
      <label for="txtEntidadFederativa">Entidad Federativa:</label>
      <input
        type="text"
        name="entidadFederativa"
        id="txtEntidadFederativa"
        placeholder="Ingrese la entidad federativa"

        required
      />

      <label for="txtNacionalidad">Nacionalidad:</label>
      <select
        name="nacionalidad"
        id="txtNacionalidad"

        required

      >
        <option value="Mexicana">Mexicana</option>
        <option value="Estadounidense ">Estadounidense</option>
        <option value="">Otro</option>  
      </select>

    </div>

    <div class="form-section">
      <h2>Direccion</h2>
      <label for="txtColonia">Colonia:</label>
      <input
        type="text"
        name="colonia"
        id="txtColonia"
        placeholder="Ingrese la colonia"

        required
      />

      <label for="txtDomicilio">Domicilio:</label>
      <input
        type="text"
        name="domicilio"
        id="txtDomicilio"
        placeholder="Ingrese el domicilio"

        required
      />

      <label for="txtDomicilio">Alcaldia / Municipio</label>
      <input
        type="text"
        name="alcaldia_municipio"
        id="txtAlcalMun"
        placeholder="Ingrese el la alcaldia/municipio"

        required
      />
    </div>

    <div class="form-section">
      <h2>Diagnostico Medico</h2>
      <label for="txtDiagnostico">Diagnostico:</label>
      <input
        type="text"
        name="diagnostico"
        id="txtDiagnostico"
        placeholder="Cual es el diagnostico del paciente?"

        required
      />

      <label for="txtCuidadorPrimario">Cuidador Primario:</label>
      <input
        type="text"
        name="cuidadorPrimario"
        id="txtCuidadorPrimario"
        placeholder="Quien es su cuidador primario?"

        required
      />
    </div>

    <input type="submit" value="Registrar" id="btnRegistrar" />
  </form>
</div>
