<nav class="menu-desplegable">
  <ul>
    <li><a href="#"><i class='bx bx-home'></i> Inicio</a></li>
    <li class="submenu-item" (click)="togglePacientesOperaciones()">
      <a href="#"><i class='bx bx-user'></i> Pacientes</a>
      <div class="submenu" *ngIf="isPacientesOperaciones">
        <ul class="submenu-ul">
          <div class="bloque-selectivo"></div>
          <li><a routerLink="/buscar-paciente"><i class='bx bx-search'></i>Buscar Paciente</a></li>
          <div class="bloque-selectivo"></div>
          <li><a routerLink="/dar-de-alta-paciente"><i class='bx bx-plus'></i>Dar de alta Paciente</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#"><i class='bx bx-calendar'></i> Calendario de servicio</a></li>
    <li><a href="#"><i class='bx bx-file'></i> Expediente electrónico</a></li>
    <li><a href="#"><i class='bx bx-bar-chart'></i> Reportes</a></li>
    <li><a href="#"><i class='bx bx-group'></i> Cuidadores</a></li>
    <li><a href="#"><i class='bx bx-exit'></i> Salir</a></li>
  </ul>
</nav>

