<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">

          <input type="hidden" name="id_employee" [(ngModel)]="employeeService.selectedEmployee.id_employee"> <!--cuando se rellene los datos tambien se rellene el id o se seleccione a escondidas-->
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your full name"
              name="name_employee"
              id="txtName"
              required
              [(ngModel)]="employeeService.selectedEmployee.name_employee"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Enter your salary"
              name="salary_employee"
              id="txtSalary"
              required
              [(ngModel)]="employeeService.selectedEmployee.salary_employee"
            />
          </div>

          <button class="btn btn-primary mr-2" (click)="resetForm(employeeForm)">  <!--Reset a los inputs del formulario-->
            Clear
          </button>
          <button class="btn btn-secondary">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Salario</th>
          <th>Fecha de registro</th>
          <th>Ultima modificacion</th>
          <th>Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeService.employees">
          <td>{{ employee.id_employee }}</td>
          <td>{{ employee.name_employee }}</td>
          <td>{{ employee.salary_employee }}</td>
          <td>{{ employee.fecha_registro }}</td>
          <td>{{ employee.ultima_modificacion }}</td>
          <td>
            <button class="btn btn-secondary btn-sm" (click)="updateEmployee(employee)">
              <i class="material-icons">edit</i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee.id_employee)">
              <i class="material-icons">delete</i>
            </button>            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="mostrarElemento">
    <p>Este elemento se mostrará si mostrarElemento es true.</p>
  </div>
  <button (click)="mostrarElemento = !mostrarElemento">Mostrar/Ocultar</button>
  
</div>
